@{
    ViewData["Title"] = "首页";
}

<div class="container">
  <h3>欢迎下载使用开源OSS.Social，希望您也能为 .Net 开源项目尽一份力</h3>  
    <br/>
    <h4>
       
        如果您有好的想法或者建议,可以关注 <a href="https://github.com/KevinWG">我的GitHub</a>
     
    </h4> 
    <br />
    <h4>
        也可以添加公众号：osscore ，给我留言。期待收到你的反馈！</h4>
    
   
</div>



<div>
    
</div>
